h1 {
    color: blue;
    width: 800px;
    margin: 0 auto;
    font-size: 1.5rem;
}

h2 {
    color:purple;
    font-size: 1.3rem;
}

.task1-img {
    border: 1px solid black;
}

.task2-img {
    border: 1px solid black;
    width: 50%;
}